@page {
  size: "8.5in 11in";
  margin-top: 1.5in;
  margin-bottom: 1.5in;
  margin-left: 1.5 in;
  margin-right: 1.5in;
  
}
body {  } 
div.household { 
  display: "block"; 
  margin-top: 11pt;
  page-break-inside: "avoid";
}
div.headandspouse { font-family: "minion"; font-size: 12pt} 
div.others { text-indent: 18pt; font-family: "minion"; font-size: 11pt; font-style: italic}
div.address { text-indent: 18pt; font-family: "minion"; font-size: 11pt; font-style: normal}
div.homephone { text-indent: 18pt; font-family: "minion"; font-size: 11pt; font-style: normal}
div.member { text-indent: 18pt; font-family: "abadi mt condensed light"; font-size: 10pt; font-style: normal}
font.emphasis { font-family: "minion regularsc"; font-size:12pt  font-style: normal}
