<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleDevelopmentRegion</key>
<string>English</string>
<key>CFBundleDocumentTypes</key>
<array>
	<dict> 
		<key>CFBundleTypeExtensions</key> 
		<array>
			<string>per</string>
		</array>
		<key>CFBundleTypeIconFile</key>
		<string>PM Doc.icns</string>
		<key>CFBundleTypeName</key>
		<string>com.tamelea.pmDocumentType</string> 
		<key>CFBundleTypeOSTypes</key>
		<array>
			<string>PMLD</string>
		</array>
		<key>CFBundleTypeRole</key> 
		<string>Editor</string>
	</dict>
</array>
<key>JVMVersion</key>
<string>1.7+</string>
<key>CFBundleExecutable</key>
<string>JavaAppLauncher</string>
<key>CFBundleIconFile</key>
<string>PM.icns</string>
<key>CFBundleIdentifier</key>
<string>com.tamelea.perimeleon</string>
<key>CFBundleDisplayName</key>
<string>Peri Meleon</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleName</key>
<string>Peri Meleon</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleShortVersionString</key>
<string>1.4.1</string>
<key>CFBundleSignature</key>
<string>PMLN</string>
<key>CFBundleVersion</key>
<string>1</string>
<key>NSHumanReadableCopyright</key>
<string></string>
<key>JVMMainClassName</key>
<string>com.tamelea.pm.PeriMeleon</string>
<key>JVMOptions</key>
<array>
</array>
<key>JVMArguments</key>
<array>
</array>
</dict>
</plist>

