<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>CFBundleDocumentTypes</key>
 <array>
	<dict> 
		<key>CFBundleTypeExtensions</key> 
		<array>
			<string>per</string>
		</array>
		<key>CFBundleTypeIconFile</key>
		<string>Peri Meleon.icns</string>
		<key>CFBundleTypeName</key>
		<string>com.tamelea.pmDocumentType</string> 
		<key>CFBundleTypeOSTypes</key>
		<array>
			<string>PMLD</string>
		</array>
		<key>CFBundleTypeRole</key> 
		<string>Editor</string>
	</dict>
 </array>
 
  <key>LSMinimumSystemVersion</key>
  <string>10.7.4</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleAllowMixedLocalizations</key>
  <true/>
  <key>CFBundleExecutable</key>
  <string>Peri Meleon</string>
  <key>CFBundleIconFile</key>
  <string>Peri Meleon.icns</string>
  <key>CFBundleIdentifier</key>
  <string>com.tamelea.perimeleon</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Peri Meleon</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.4.2</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <!-- See http://developer.apple.com/library/mac/#releasenotes/General/SubmittingToMacAppStore/_index.html
       for list of AppStore categories -->
  <key>LSApplicationCategoryType</key>
  <string>Unknown</string>
  <key>CFBundleVersion</key>
  <string>1.4.2</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (C) 2018</string>
  <key>NSHighResolutionCapable</key>
  <string>true</string>
 </dict>
</plist>
